{% extends 'base.html.twig' %}

{% block title %}
	{{'Historique' | trans}}
{% endblock %}

{% block body %}

<h1>{{'Commande' | trans}}
	{{'Numero' | trans}}
	{{panier.id}}
	-
	{{'Livrée le' | trans}}
	{{panier.Date | date('d/m/Y')}}</h1>

<table class="table">
	<thead>
		<tr>
			<th>{{'Panier' | trans}}
				{{'Numero' | trans}}</th>
			<th>{{'Produit' | trans}}</th>
			<th>{{'Quantité'| trans}}</th>
			<th>{{'Prix' | trans}}</th>
		</tr>
	</thead>
	<tbody>

		{% for cp in panier.contenuPaniers %}
			<tr>
				<td>
					{{panier.id}}</td>
				<td>
					{{cp.Produit}}</td>
				<td>
					{{cp.Quantite}}</td>
				<td>
					{{cp.Produit.Prix}}</td>
			</tr>
		</tbody>
	</tbody>
{% else %}
	<p>{{'Historiques.Vide' | trans}}</p>
</tbody></table>{% endfor %}{% endblock %}
