{% extends 'base.html.twig' %}

{% block title %}
	{{'Panier' | trans}}
{% endblock %}

{% block body %}
	<h1>
		{{'Panier' | trans}}
		{{'Numero' | trans}}
		{{panier.id}}</h1>
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>{{'Produit' | trans}}</th>
				<th>{{'Quantité' | trans}}</th>
			</tr>
		</thead>
		<tbody>
			{% set total = 0 %}
			{% for cp in panier.contenuPaniers %}
				{% set total = total + (cp.Produit.Prix * cp.Quantite) %}
			{% endfor %}

			{% for cp in panier.contenuPaniers %}
				<tr>
					<td>
						{{cp.id}}</td>
					<td>
						{{cp.Produit}}</td>
					<td>
						{{cp.Quantite}}</td>
					<td>
						{{cp.Produit.Prix}}</td>
					<td>
						<a href="{{ path('app_contenu_panier_delete', {'id' : cp.id}) }}" class="btn btn-primary">
							{{'Supprimer' | trans}}
						</a>
					</td>
				</tr>
			</tbody>
		</tbody>
	{% else %}
		<p>{{'Produits.Vide' | trans}}</p>
	{% endfor %}
</tbody></table></br></br><h1>{{'Montant' | trans}}</h1><p>{{ total}}€ HT</p></br>{% if cp in panier.contenuPaniers %}<a href="{{ path('app_panier_validate', {'id' : panier.id}) }}" class="btn btn-primary">{{'Produits.Valider' | trans}}</a>{% endif %}{% endblock %}
