{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!
{% endblock %}
{% block body %}

	<h1>Homepage</h1>
	<h1>Produit</h1>
	{% for p in produits %}

		<table class="table">
			<thead>
				<tr>
					<th>Image</th>
					<th>Nom</th>
					<th>Description</th>
					<th>Prix</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						{% if p.image is not null %}
							<img src="{{ asset ('uploads/' ~ p.image) }}" alt="" style="width: 200px;">
						{% endif %}
					</td>
					<td>
						{{p.Nom}}</td>
					<td>
						{{p.Description}}</td>
					<td>
						{{p.Prix}}</td>
				</tr>
			</tbody>
		</td>
		<td>
			<a href="{{ path('app_produit', {'id' : p.id}) }}" class="btn btn-primary">
				Voir
			</a>
		</td>
	</tbody>
</tr>{% else %}
<p>Liste de produits vide</p>{% endfor %}</tbody></table><h1>Ajouter un produit</h1>{{form(ajout)}}{% endblock %}
