{% extends 'base.html.twig' %}

{% block title %}
	{{'Homepage' | trans}}
{% endblock %}
{% block body %}

	<h1>{{'Acceuil' | trans}}</h1>
	<h1>{{'Produit' | trans}}</h1>
	{% for p in produits %}

		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>{{'Nom' | trans}}</th>
					<th>{{'Description' | trans}}</th>
					<th>{{'Prix' | trans}}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						{% if p.image is not null %}
							<img src="{{ asset ('uploads/' ~ p.image) }}" alt="" style="width: 200px;">
						{% endif %}
					</td>
					<td>
						{{p.Nom}}</td>
					<td>
						{{p.Description}}</td>
					<td>
						{{p.Prix}}</td>
				</tr>
			</tbody>
		</td>
		<td>
			<a href="{{ path('app_produit', {'id' : p.id}) }}" class="btn btn-primary">
				{{'Voir' | trans}}
			</a>
		</td>
	</tbody>
</tr>{% else %}
<p>{{'Produits.Vide' | trans}}</p>{% endfor %}</tbody></table><h1>{{'Produits.Ajouter'| trans}}</h1>{{form(ajout)}}{% endblock %}
