{% extends 'base.html.twig' %}


{% block body %}
	<h1>{{produit.Nom}}</h1>
	{% if produit.image is not null %}
		<img src="{{ asset ('uploads/' ~ produit.image) }}" alt="" style="width: 500px;">
	{% endif %}
	<p>{{produit.Description}}</p>
	<p>{{produit.Prix}}</p>
	<a href="{{path('produit_edit', {'id' : produit.id})}}" class="btn btn-primary">{{'Editer' | trans}}</a>
	<a href="{{ path('produit_delete', {'id' : produit.id}) }}" class="btn btn-primary">
		{{'Supprimer' |  trans}}
	</a>

	<h3>{{'Produits.AjouterNFT' |  trans}}
	</h3>

	{{form(ajout)}}

	</br>
{% endblock %}
