{% extends 'base.html.twig' %}

{% block title %}Hello ContenuPanierController!
{% endblock %}

{% block body %}
	<h1>Panier</h1>

	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Produit</th>
				<th>Quantité</th>
			</tr>
		</thead>
		<tbody>
			{% set total = 0 %}
			{% for p in cp %}
				{% set total = total + (p.Produit.Prix * p.Quantite) %}
			{% endfor %}

			{% for p in cp %}
				<tr>
					<td>
						{{p.id}}</td>
					<td>
						{{p.Produit}}</td>
					<td>
						{{p.Quantite}}</td>
					<td>
						{{p.Produit.Prix}}</td>
					<td>
						<a href="{{ path('app_contenu_panier_delete', {'id' : p.id}) }}" class="btn btn-primary">
							Supprimer
						</a>
					</td>
				</tr>
			</tbody>
		</tbody>
	</tr>
{% else %}
	<p>Liste d'article dans cp :  vide</p>
{% endfor %}</tbody></table><h1>Total</h1><p>{{ total}}€ HT</p>{% endblock %}
